@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/rouble/rouble-webfont.eot');
    src: url('../fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rouble/rouble-webfont.woff') format('woff'),
    url('../fonts/rouble/rouble-webfont.ttf') format('truetype'),
    url('../fonts/rouble/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.rub{
    font-family: 'als_rublregular';
}

@import "modules/base";
@import "modules/reset";
@import "modules/grid";
.container{
    width: 980px;
    margin: 0 auto;
}
.align-right{
    text-align: right;
}
.pluso{
    float: right;
    margin-top: em(5);
}
.img-left{
    display: block;
    float: left;
    margin: 20px 20px 20px 0;
}
.img-right{
    display: block;
    float: left;
    margin: 20px 0 20px 20px;
}
@import "modules/b-form";
@import "modules/b-header";
@import "modules/b-footer";
@import "modules/b-promo";
@import "modules/b-filter";
@import "modules/b-saleslider";
@import "modules/b-catalog";
@import "modules/pr";
@import "modules/b-csidebar";
@import "modules/b-newswidget";
@import "modules/b-menu";
@import "modules/b-newscat";
@import "modules/b-news";
@import "modules/b-text";
@import "modules/b-gallery";
@import "modules/b-popup";
@import "modules/b-delivery";
@import "modules/b-containers";
@import "modules/b-spare";
@import "modules/b-spoiler";
@import "modules/b-vacancy";
@import "modules/b-order";
@import "modules/b-paginator";
@import "modules/b-itemin";

@media (max-width: 1100px){
    .pr-content{
        background-image: none;
    }
}