<div class="b-csidebar">
    <div class="b-csidebar__head">
        <div class="row">
            <div class="span8">
                <h3 class="pr-dectitle">Мы подскажем:</h3>
            </div>
            <div class="span4">
                <h3 class="pr-title">Новости <a class="b-newswidget__all" href="archivenews.html">все новости</a></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="row">
                <div class="span4">
                    <a class="pr-helplink" href="how_chose_one.html">Какие бывают контейнеры?</a>
                </div>
                <div class="span4">
                    <a class="pr-helplink" href="how_chose_one.html">Как выбрать контейнер?</a>
                </div>
                <div class="span4">
                    <a class="pr-helplink" href="repair.html">Что такое рефконтейнер?</a>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <a class="pr-helplink icon-2" href="repair.html">Предпродажная подготовка</a>
                </div>
                <div class="span4">
                    <a class="pr-helplink icon-3" href="price.html">Прайс-лист</a>
                </div>
                <div class="span4">
                    <a class="pr-helplink icon-4" href="repair.html">Как купить?</a>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="b-newswidget">
                <div class="b-newswidget__item">
                    <!--datetime="ГГГГ-ММ-ДД"-->
                    <time datetime="2014-04-23" class="b-newswidget__date">23 Апрель 2014</time>
                    <a class="b-newswidget__title" href="news.html">Предлагаем вашему вниманию уникальные остатки от рефрижераторных</a>
                </div>
                <div class="b-newswidget__item">
                    <time datetime="2014-04-23" class="b-newswidget__date">23 Апрель 2014</time>
                    <a class="b-newswidget__title" href="news.html">Предлагаем вашему вниманию уникальные остатки от рефрижераторных</a>
                </div>
            </div>
        </div>
    </div>
</div>