        <footer class="b-footer">
            <div class="container">
                <div class="b-footer__top">
                    <div class="row">
                        <div class="span2">
                            <ul class="b-menu">
                                <li class="b-menu__item"><a href="index.html">Главная</a></li>
                                <li class="b-menu__item"><a href="#">Запрос</a></li>
                            </ul>
                        </div>
                        <div class="span2">
                            <ul class="b-menu">
                                <li class="b-menu__item"><a href="archivenews.html">Новости</a></li>
                                <li class="b-menu__item"><a href="containers.html">Контейнеры</a></li>
                            </ul>
                        </div>
                        <div class="span2">
                            <ul class="b-menu">
                                <li class="b-menu__item"><a href="vacancy.html">Вакансии</a></li>
                                <li class="b-menu__item"><a href="repair.html">Ремонт</a></li>
                            </ul>
                        </div>
                        <div class="span2">
                            <ul class="b-menu">
                                <li class="b-menu__item"><a href="modernization.html">Модернизация</a></li>
                                <li class="b-menu__item"><a href="delivery.html">Доставка</a></li>
                            </ul>
                        </div>
                        <div class="span2">
                            <ul class="b-menu">
                                <li class="b-menu__item"><a href="spare_parts.html">Запасные части</a></li>
                                <li class="b-menu__item"><a href="instruction.html">Инструкция</a></li>
                            </ul>
                        </div>
                        <div class="span2">
                            <ul class="b-menu">
                                <li class="b-menu__item"><a href="price.html">Прайс-лист</a></li>
                                <li class="b-menu__item"><a href="contacts.html">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="b-footer__bottom">
                    <div class="row">
                        <div class="span8">
                            <div class="b-footer__copyrights"><span class="site">Refcont.ru</span> Все права защишенны. 2014</div>
                        </div>
                        <div class="span4">
                            <div class="b-footer__created">
                                <a class="img"  target="_blank" href="//mymediapro.ru"><img src="images/mmplogo.png" alt="Создание сайтов"/></a>Сделано с любовью в <a target="_blank" href="//mymediapro.ru">MyMediaPro</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
    </body>
</html>