<div class="b-filter">
    <form action="price.html" method="get">
        <table class="b-filter__tabel">
            <thead>
            <tr>
                <th style="width: 18%;">Год выпуска:</th>
                <th style="width: 18.6%;">Размер:</th>
                <th style="width: 18%;">Модель</th>
                <th style="width: 18.6%;">Производитель</th>
                <th style="width: 11.6%;">Состояние</th>
                <th>Тип контейнера</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select class="b-filter__select">
                        <option value="">1997-2000</option>
                        <option value="">1997-2000</option>
                        <option value="">1997-2000</option>
                    </select>
                </td>
                <td>
                    <select class="b-filter__select">
                        <option value="">40’</option>
                        <option value="">40’</option>
                        <option value="">40’</option>
                    </select>
                </td>
                <td>
                    <select class="b-filter__select">
                        <option value="">40’</option>
                        <option value="">40’</option>
                        <option value="">40’</option>
                    </select>
                </td>
                <td>
                    <select class="b-filter__select">
                        <option value="">Carrier</option>
                        <option value="">Carrier</option>
                        <option value="">Carrier</option>
                    </select>
                </td>
                <td>
                    <select class="b-filter__select">
                        <option value="">Б/У</option>
                        <option value="">Б/У</option>
                        <option value="">Б/У</option>
                    </select>
                </td>
                <td>
                    <select class="b-filter__select">
                        <option value="">Морской</option>
                        <option value="">Морской</option>
                        <option value="">Морской</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="b-filter__submit" type="submit">НАЙТИ</button>
    </form>
</div>