<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1012">
        <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
        <link rel="stylesheet" href="css/style.min.css" media="all"/>

        <link rel="stylesheet" href="css/dev.css" media="all"/> <!-- must be removed later-->

        <script src="js/all.min.js"></script>
        <!--[if lte IE 8 ]><script type="text/javascript">window.location.href="ie8min/index.html";</script><![endif]-->

        <!--Данный стиль хорошо было бы вствлять только на странице containers.html-->
        <style type="text/css">
            .b-containers:after, .b-containers__catalog .viewport{
                mask: url('#fade_right_svg_mask');
            }
        </style>

    </head>
    <body>
        <header class="b-header">
            <div class="container">
                <div class="b-header__content">
                    <a class="b-header__logo" href="index.html"><img src="images/logo.png" alt="Site name" width="166" height="120"/></a>
                    <div class="b-header__top">
                        <span class="b-header__repair b-header__topi">Сервис и ремонт<br />24 часа</span>
                        <span class="b-header__email b-header__topi"><a href="mailto:info@refcont.ru">info@refcont.ru</a></span>
                        <span class="b-header__tel b-header__topi"><span class="tel">8-800-555-80-79</span><span class="tel">+7 (905) 250-01-57</span><span class="tel">8-921-625-62-36</span></span>
                    </div>
                    <nav class="b-header__nav">
                        <ul class="list">
                            <li class="item current"><a href="index.html">Главная</a></li>
                            <li class="item"><a href="archivenews.html">Новости</a></li>
                            <li class="item"><a href="containers.html">Контейнеры</a></li>
                            <li class="item"><a href="delivery.html">Доставка</a></li>
                            <li class="item parent">
                                <a href="repair.html">Ремонт</a>
                                <!-- <ul class="sub-menu left"> -если нужно чтобы меню выпало влево-->
                                <ul class="sub-menu">
                                    <li class="sub-menu__item"><a href="repair.html">Ремонт оборудования</a></li>
                                    <li class="sub-menu__item"><a href="repair.html">Ремонт контейнеров</a></li>
                                </ul>
                            </li>
                            <li class="item"><a href="spare_parts.html">Запасные Части</a></li>
                            <li class="item"><a href="price.html">Прайс-Лист </a></li>
                            <li class="item"><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>