<div class="b-catalog__item">
    <div class="b-catalog__itemhead">
        <img src="images/content/catalog1.jpg" alt="Item title"/>
        <!--
        Лейбл со скидкой
        <span class="label">15%</span>
        -->
        <span class="label label_new">NEW</span>
        <span class="price">100 000 <span class="rub">a</span></span>
    </div>
    <a href="#Пока_я_не_знаю_на_какую_страницу_ведет" class="b-catalog__itemt">Рефконтейнер 40'HC</a>
    <p>Год выпуска: <strong>1996</strong></p>
    <p>Модель: <strong>MicroLink-2i</strong></p>
    <div class="b-catalog__itemmore">
        <a href="#Пока_я_не_знаю_на_какую_страницу_ведет" class="pr-button">Подробнее</a>
    </div>
</div>