<div class="b-catalog__item">
    <div class="b-catalog__itemhead">
        <img src="images/content/catalog1.jpg" alt="Item title"/>
        <!--
        Лейбл со скидкой
        <span class="label">15%</span>
        -->
        <span class="label label_new">NEW</span>
        <span class="price">от 100 000 <span class="rub">a</span></span>
    </div>
    <a href="container.html" class="b-catalog__itemt">Рефконтейнер 40'HC</a>
    <p>Год выпуска: <strong>1996</strong></p>
    <p>Размер: <strong>40’</strong></p>
    <p>Модель: <strong>MicroLink-2i</strong></p>
    <p>Производитель: <strong>Carrier</strong></p>
    <p>Состояние <strong>Новое</strong></p>
    <p>Тип контейнера: <strong>Морской</strong></p>
    <div class="b-catalog__itemmore">
        <a href="container.html" class="pr-button">Подробнее</a>
    </div>
</div>