<article class="b-newscat__item">
    <a class="b-newscat__prev" href="news.html"><img src="images/content/news-prev1.jpg" alt="Image title or news title"/></a>
    <div class="b-newscat__content">
        <h3 class="b-newscat__title"><a href="news.html" title="Скоропортящиеся грузы, перевозимые и хранимые в рефрижераторных">Скоропортящиеся грузы, перевозимые и хранимые в рефрижераторных</a></h3>
        <time datetime="2014-04-23" class="b-news__date b-news__date_large">23 Апрель 2014</time>
        <p>классифицируются по режиму: мороженые грузы, хранимые при температурах от -4 до -20 0С;</p>
    </div>
</article>