@@include('blocks/_b-header.html')
<div class="pr-content">
    <div class="container">
        <div class="pr-content__header">
            <h1 class="pr-dectitle">Контакты</h1>
        </div>
        <div class="pr-content__content">
            <div class="b-text">
                <p>Наши специалисты помогают российским потребителям справиться с решением всех вопросов по хранению и транспортировке скоропортящихся грузов уже более 10 лет.</p>
                <p>Мы стояли у истоков зарождения и развития рефрижераторно — контейнерного бизнеса в России, и продолжаем свою деятельность, являясь  поставщиком контейнеров-рефрижераторов самых изветных производителей в этой отрасли : Carrier, Thermo King, Sabroe.</p>
                <p>Мы всегда стремимся обеспечить наших клиентов приемлемыми ценами в сочетании с эффективностью и надежностью в работе. Мы располагаем собственным парком контейнеров – рефрижераторов.</p>
                <div class="row">
                    <div class="span6">
                        <p><strong>192102, г. Санкт-Петербург, Бухарестская ул., д. 24, к. 1<br /><a href="mailto:info@refcont.ru">info@refcont.ru</a></strong></p>
                    </div>
                    <div class="span6">
                        <p><strong>Наш телефон в Санкт-Петербурге:  +7 (905) 250-01-57</strong></p>
                    </div>
                </div>
                <div class="pr-map">
                    <!--нужно будет перегенерить карту http://api.yandex.ru/maps/tools/constructor/ -->
                    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=zTWRz0q4AzW3ybbqdt2-nzpcWw4Jfhh6"></script>
                </div>
            </div>
        </div>
        @@include('blocks/_b-csidebar.html')
    </div>
</div>
@@include('blocks/_b-footer.html')