@@include('blocks/_b-header.html')
<div class="pr-content">
    <div class="container">
        <div class="pr-content__header">
            <h1 class="pr-dectitle">Контейнеры</h1>
        </div>
        <div class="pr-content__content">
            <div class="b-containers">
                <div class="b-containers__content">
                    <h3 class="b-containers__title">Рефконтейнеры<span class="cat">20' футов (6 метров)</span></h3>
                    <div class="b-containers__more">
                        <a href="news.html">Подробнее</a>
                    </div>
                </div>
                <div class="b-containers__catalog" data-group="group-2">
                    <ul class="slides">
                        <li><a rel="group-2" class="contgal" href="images/content/ton01.jpg" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-2" class="contgal" href="images/content/ton01.jpg" title="Lorem Ipsum is simply dummy"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-2" class="contgal" href="images/content/ton01.jpg" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-2" class="contgal" href="images/content/ton01.jpg" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-2" class="contgal" href="images/content/ton01.jpg" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-2" class="contgal" href="images/content/ton01.jpg" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-2" class="contgal" href="images/content/ton01.jpg" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-2" class="contgal" href="images/content/ton01.jpg" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-2" class="contgal" href="images/content/ton01.jpg" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-2" class="contgal" href="images/content/ton01.jpg" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="b-containers">
                <div class="b-containers__content">
                    <h3 class="b-containers__title">Рефконтейнеры<span class="cat">40' HC футов 12 метров</span></h3>
                    <div class="b-containers__more">
                        <a href="news.html">Подробнее</a>
                    </div>
                </div>
                <div class="b-containers__catalog" data-group="group-3">
                    <ul class="slides">
                        <li><a rel="group-3" class="contgal" href="images/content/news-prev1.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-3" class="contgal" href="images/content/news-prev1.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-3" class="contgal" href="images/content/news-prev1.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-3" class="contgal" href="images/content/news-prev1.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-3" class="contgal" href="images/content/news-prev1.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-3" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-3" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-3" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-3" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-3" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="b-containers">
                <div class="b-containers__content">
                    <div class="b-containers__more">
                        <h3 class="b-containers__title">Рефконтейнеры<span class="cat">Новые</span></h3>
                        <a href="news.html">Подробнее</a>
                    </div>
                </div>
                <div class="b-containers__catalog" data-group="group-1">
                    <ul class="slides">
                        <li><a rel="group-1" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-1" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-1" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-1" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-1" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-1" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-1" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-1" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-1" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-1" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="b-containers">
                <div class="b-containers__content">
                    <div class="b-containers__more">
                        <h3 class="b-containers__title">Рефконтейнеры<span class="cat">Доработанные</span></h3>
                        <a href="news.html">Подробнее</a>
                    </div>
                </div>
                <div class="b-containers__catalog"  data-group="group-4">
                    <ul class="slides">
                        <li><a rel="group-4" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-4" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-4" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-4" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-4" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-4" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-4" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-4" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-4" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                        <li><a rel="group-4" class="contgal" href="images/content/ton01.jpg"><img src="images/content/containers.jpg" alt="container name"/></a></li>
                    </ul>
                </div>
            </div>
            <svg height="0">
                <mask id="fade_right_svg_mask" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
                    <linearGradient id="fade_right_svg_gradient" gradientUnits="objectBoundingBox" x2="1" y2="0">
                        <stop stop-color="white" stop-opacity="0" offset="0"></stop>
                        <stop stop-color="white" stop-opacity="1" offset="0.25"></stop>
                        <stop stop-color="white" stop-opacity="1" offset="0.75"></stop>
                        <stop stop-color="white" stop-opacity="0" offset="1"></stop>
                    </linearGradient>
                    <rect x="0" y="0" width="1" height="1" fill="url(#fade_right_svg_gradient)"></rect>
                </mask>
            </svg>
            <!--Эти СВГ только для этой страницы -->

        </div>
        @@include('blocks/_b-csidebar.html')
    </div>
</div>
@@include('blocks/_b-footer.html')