@@include('blocks/_b-header.html')
<div class="pr-content">
    <div class="container">
        <div class="pr-content__header">
            <h1 class="pr-dectitle">Рефконтейнер 40'HC – Carrier</h1>
        </div>
        <div class="pr-content__content">
            <div class="row">
                <div class="span5">
                    <div class="b-itemin__slider">
                        <ul class="slides">
                            <li><img src="images/content/cartslide.jpg" alt="вид сверху"/></li>
                            <li><img src="images/content/cartslide.jpg" alt="вид сверху"/></li>
                            <li><img src="images/content/cartslide.jpg" alt="вид сверху"/></li>
                            <li><img src="images/content/cartslide.jpg" alt="вид сверху"/></li>
                            <li><img src="images/content/cartslide.jpg" alt="вид сверху"/></li>
                            <li><img src="images/content/cartslide.jpg" alt="вид сверху"/></li>
                        </ul>
                    </div>
                    <!-- думаю что для картинок в слайдере навигации нужно делать обрезку до изображения задных размеров. пропорционально уменьшать и при достижении заданых размеров высоты или ширины картинки образать лишнее. Картинку позиционировать о центру наверно -->
                    <div class="b-itemin__slidernav">
                        <ul class="slides">
                            <li><img src="images/content/thumb.jpg" alt="вид сверху"/></li>
                            <li><img src="images/content/thumb.jpg" alt="вид сверху"/></li>
                            <li><img src="images/content/thumb.jpg" alt="вид сверху"/></li>
                            <li><img src="images/content/thumb.jpg" alt="вид сверху"/></li>
                            <li><img src="images/content/thumb.jpg" alt="вид сверху"/></li>
                            <li><img src="images/content/thumb.jpg" alt="вид сверху"/></li>
                        </ul>
                    </div>
                </div>
                <div class="span7">
                    <div class="b-text">
                        <h3>Описание</h3>
                        <p>Бюретка ядовита. Окислитель захватывает фотоиндуцированный энергетический перенос. Воздействие активирует фотосинтетический бензол. Учитывая значение электроотрицательностей элементов, можно сделать вывод, что хлорсульфит натрия проникает триплетный атомный радиус.</p>
                        <div class="b-itemin__price">Цена: <span class="price">от 189.000 руб</span></div>
                        <a class="b-itemin__order" href="order.html">оформить заказ</a>
                    </div>
                    <div class="b-itemin__tech">
                        <div class="b-text">
                            <h3>Технические характеристики</h3>
                        </div>
                        <!-- в первом списке должно быть четное количество пунктов-->
                        <ul>
                            <li><strong>Длина: </strong>40' = 12192 mm</li>
                            <li><strong>Ширина: </strong>8' = 2438 mm</li>
                            <li><strong>Высота: </strong>9' 6" = 2895 mm</li>
                            <li><strong>Макс. Брутто: </strong>67200 lbs = 30480 kg</li>
                            <li><strong>Тара: </strong>4200 kg</li>
                            <li><strong>Макс. Загрузка: </strong>26280 kg</li>
                        </ul>
                        <ul class="b-itemin__techmore">
                            <li><strong>Длина: </strong>40' = 12192 mm</li>
                            <li><strong>Ширина: </strong>8' = 2438 mm</li>
                            <li><strong>Высота: </strong>9' 6" = 2895 mm</li>
                            <li><strong>Макс. Брутто: </strong>67200 lbs = 30480 kg</li>
                            <li><strong>Тара: </strong>4200 kg</li>
                            <li><strong>Макс. Загрузка: </strong>26280 kg</li>
                            <li><strong>Длина: </strong>40' = 12192 mm</li>
                            <li><strong>Ширина: </strong>8' = 2438 mm</li>
                            <li><strong>Высота: </strong>9' 6" = 2895 mm</li>
                            <li><strong>Макс. Брутто: </strong>67200 lbs = 30480 kg</li>
                            <li><strong>Тара: </strong>4200 kg</li>
                            <li><strong>Макс. Загрузка: </strong>26280 kg</li>
                        </ul>
                        <button class="more" data-close="показать все параметры" data-open="скрыть все параметры"><span class="text">показать все параметры</span></button>
                    </div>
                </div>
            </div>
            <div class="b-text">
                <table>
                    <caption><strong>Температурные режимы хранения и перевозки:</strong><br />мороженые грузы:</caption>
                    <thead>
                    <tr>
                        <th>Вид груза</th>
                        <th>Температура,0С</th>
                        <th>Относительная влажность,%</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Говядина, свинина, баранина Мороженая</td>
                        <td>-18 – -20</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td>Субпродукты,эндокринное сырье</td>
                        <td>-18 – -20</td>
                        <td>85</td>
                    </tr>
                    <tr>
                        <td>Птица,кролики</td>
                        <td>-18 – -20</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>Рыба мороженая, филе</td>
                        <td>-20</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td>Яйцепродукты мороженые</td>
                        <td>-6 – -10</td>
                        <td>85</td>
                    </tr>
                    <tr>
                        <td>Яйцепродукты сушеные (влажность более 70%)</td>
                        <td>-6 – -8</td>
                        <td>75 – 80</td>
                    </tr>
                    <tr>
                        <td>Шпиг и жир-сырец</td>
                        <td>-9 – -12</td>
                        <td>75 – 80</td>
                    </tr>
                    <tr>
                        <td>Жиры топленые</td>
                        <td>-4 – -6</td>
                        <td>80 – 90</td>
                    </tr>
                    <tr>
                        <td>Сыр</td>
                        <td>-8 – -12</td>
                        <td>80 – 85</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @@include('blocks/_b-csidebar.html')
    </div>
</div>
@@include('blocks/_b-footer.html')