@@include('blocks/_b-header.html')
<div class="pr-content">
    <div class="container">
        <div class="pr-content__header">
            <h1 class="pr-dectitle">Доставка</h1>
        </div>
        <div class="pr-content__content">
            <div class="b-text">
                <p> Наша фирма готова оказать Вам помощь в организации доставки морских рефрижераторных контейнеров в адрес наших клиентов с попутным грузом. Это позволяет снизить затраты по доставке рефконтейнеров в города России.</p>
                <p>В зависимости от направления мы используем автомобильный или железнодорожный транспорт.</p>
                <p>Бесплатная доставка железнодорожным транспортом осуществляется по следующим направлениям (при наличии попутного груза):</p>
                <div class="b-delivery">
                    <div class="b-delivery__map">
                        <div class="row">
                            <div class="span8">
                                <img src="images/content/map.png" alt="Карта округов"/>
                            </div>
                            <div class="span4">
                                <div class="row">
                                    <div class="span6">
                                        <p class="city">Новосибирск</p>
                                        <p class="city">Иркутск</p>
                                        <p class="city">Красноярск</p>
                                        <p class="city">Екатеринбург</p>
                                        <p class="city">Владивосток</p>
                                        <p class="city">Хабаровск</p>
                                    </div>
                                    <div class="span6">
                                        <p class="city">Омск</p>
                                        <p class="city">Барнуал</p>
                                        <p class="city">Улан-Уде</p>
                                        <p class="city">Якутск</p>
                                        <p class="city">Южно-Сахалинск</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-delivery__prices">
                        <h4><strong>На сезон 2014 года перевозки рефконтейнеров с попутным грузом будут выполняться по следующим ставкам:</strong></h4>
                        <div class="row">
                            <div class="col">
                                <p class="city">Белгород – 40000 р.</p>
                                <p class="city">Воронеж – 40000 р.</p>
                                <p class="city">Липецк – 40000 р.</p>
                            </div>
                            <div class="col">
                                <p class="city">Рязань – 25000 р.</p>
                                <p class="city">Ростов-на-Дону – 40000 р.</p>
                                <p class="city">Смоленск – 35000 р.</p>
                            </div>
                            <div class="col">
                                <p class="city">Тула – 25000 р.</p>
                                <p class="city">Нижний Новгород – 30000 р.</p>
                                <p class="city">Самара – 35000 р.</p>
                            </div>
                            <div class="col">
                                <p class="city">Ижевск – 40000 р.</p>
                                <p class="city">Краснодар – 40000 р.</p>
                                <p class="city">Тверь – 25000 р.</p>
                            </div>
                            <div class="col">
                                <p class="city">Пермь —  45000 р.</p>
                                <p class="city">Казань – 40000 р.</p>
                                <p class="city">Киров – 40000 р.</p>
                            </div>
                        </div>
                    </div>
                    <div class="b-delivery__bottom">
                        <h4>Основная задача — найти оптимальный вид доставки для Вашего рефконтейнера.</h4>
                        <p>Дополнительную информацию по доставке рефконтейнеров Вы можете получить у наших менеджеров по тел.</p>
                        <div class="b-delivery__contacts"><span class="tel">+7 (812) 961-53-57</span><a class="email" href="mailto:info@refcont.ru">info@refcont.ru</a></div>
                    </div>
                </div>
            </div>
        </div>
        @@include('blocks/_b-csidebar.html')
    </div>
</div>
@@include('blocks/_b-footer.html')