@@include('blocks/_b-header.html')
<div class="pr-content">
    <div class="container">
        <div class="pr-content__header">
            <h1 class="pr-dectitle">Инструкция</h1>
        </div>
        <div class="pr-content__content">
            <div class="b-text">
                <!-- -->
                <h4><strong>Если файл не открывается, то возможно у Вас не установлен Adobe PDF Reader. Эту программу Вы можете скачать с официального сайта Adobe.</strong></h4>
                <p><a href="file.pdf">Руководство по эксплуатации и техобслуживанию холодильных агрегатов контейнеров Carrier Microlink 2i- Carrier Microlink 3 для моделей  69NT40—511—300 to 399</a></p>
                <p><a href="file.pdf">Руководство по эксплуатации и техобслуживанию холодильных агрегатов контейнеров Carrier Microlink 2i — Carrier Microlink 3 для моделей 69NT40—551—001 to 199</a></p>
                <p><a href="file.pdf">Руководство по эксплуатации и техобслуживанию холодильных агрегатов контейнеров Carrier Microlink 2i для моделей 69NT40-511-1, 69NT40-511-199, 69NT40-521</a></p>
                <p><a href="file.pdf">Руководство по эксплуатации и техобслуживанию холодильных агрегатов контейнеров Carrier моделей 69NT20-284, 69NT40-464 (analog)</a></p>
                <p><a href="file.pdf">Руководство по эксплуатации и техобслуживанию Carrier microlink 1</a></p>
                <p><a href="file.pdf">Руководство по эксплуатации и техобслуживанию Thermo King CF2M33 (salnikovyi kompressor)</a></p>
                <p><a href="file.pdf">Руководство по эксплуатации и техобслуживанию Carrier 69NT40-489 (microlink 2)</a></p>
                <p><a href="file.pdf">Руководство по эксплуатации и техобслуживанию Sabroe TNE 508-558</a></p>
                <p><a href="file.pdf">Руководство по эксплуатации и техобслуживанию Thermo King magnum</a></p>
            </div>
        </div>
        @@include('blocks/_b-csidebar.html')
    </div>
</div>
@@include('blocks/_b-footer.html')