@@include('blocks/_b-header.html')
<div class="pr-content">
    <div class="container">
        <div class="pr-content__header">
            <h1 class="pr-dectitle">Прайс-лист</h1>
        </div>
        <div class="pr-content__content">
            <div class="pr-filter">
                @@include('blocks/_b-filter.html')
            </div>
            <div class="row pr-pricerow">
                <div class="span3">
                    @@include('blocks/_catalog-item.html')
                </div>
                <div class="span3">
                    @@include('blocks/_catalog-item.html')
                </div>
                <div class="span3">
                    @@include('blocks/_catalog-item.html')
                </div>
                <div class="span3">
                    @@include('blocks/_catalog-item.html')
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    @@include('blocks/_catalog-item.html')
                </div>
                <div class="span3">
                    @@include('blocks/_catalog-item.html')
                </div>
                <div class="span3">
                    @@include('blocks/_catalog-item.html')
                </div>
                <div class="span3">
                    @@include('blocks/_catalog-item.html')
                </div>
            </div>
        </div>
        @@include('blocks/_paginator.html')
        @@include('blocks/_b-csidebar.html')
    </div>
</div>
@@include('blocks/_b-footer.html')