@@include('blocks/_b-header.html')
<div class="pr-content">
    <div class="container">
        <div class="pr-content__header">
            <div class="row">
                <div class="span6">
                    <h1 class="pr-dectitle">Запасные части</h1>
                </div>
                <div class="span6 align-right">
                    <!-- в случае выбора сортировки по двум параметрам в запросе их будет два(price,asc).Но это не обсуждалось с заком так что нужно читать тз.  -->
                    <div class="filter">
                        <select class="pr-select pr-select_link">
                            <option value="spare_parts.html?sort=price">По цене</option>
                            <option value="spare_parts.html?sort=action">Акции</option>
                        </select>
                        <select class="pr-select pr-select_link">
                            <option value="spare_parts.html?sort=asc">Новые</option>
                            <option value="spare_parts.html?sort=desc">Старые</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="pr-content__content">
            <div class="row">
                <div class="span6">
                    <div class="b-spare">
                        <img class="b-spare__img" src="images/content/spare.jpg" alt="Компрессор Carrier"/>
                        <div class="b-spare__content">
                            <a class="b-spare__title" href="#">Компрессор Carrier</a>
                            <div class="b-spare__sku">Part № 74-00254-00</div>
                            <div class="b-spare__price">от 82 000 <span class="rub">a</span></div>
                            <a class="b-spare__in" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="b-spare">
                        <img class="b-spare__img" src="images/content/spare-2.jpg" alt="Компрессор Carrier"/>
                        <div class="b-spare__content">
                            <a class="b-spare__title" href="#">Компрессор Carrier</a>
                            <div class="b-spare__sku">Part № 74-00254-00</div>
                            <div class="b-spare__price">от 82 000 <span class="rub">a</span></div>
                            <a class="b-spare__in" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <div class="b-spare">
                        <img class="b-spare__img" src="images/content/spare-3.jpg" alt="Компрессор Carrier"/>
                        <div class="b-spare__content">
                            <a class="b-spare__title" href="#">Компрессор Carrier</a>
                            <div class="b-spare__sku">Part № 74-00254-00</div>
                            <div class="b-spare__price">от 82 000 <span class="rub">a</span></div>
                            <a class="b-spare__in" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="b-spare">
                        <img class="b-spare__img" src="images/content/spare-4.jpg" alt="Компрессор Carrier"/>
                        <div class="b-spare__content">
                            <a class="b-spare__title" href="#">Компрессор Carrier</a>
                            <div class="b-spare__sku">Part № 74-00254-00</div>
                            <div class="b-spare__price">от 82 000 <span class="rub">a</span></div>
                            <a class="b-spare__in" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <div class="b-spare">
                        <img class="b-spare__img" src="images/content/spare-5.jpg" alt="Компрессор Carrier"/>
                        <div class="b-spare__content">
                            <a class="b-spare__title" href="#">Компрессор Carrier</a>
                            <div class="b-spare__sku">Part № 74-00254-00</div>
                            <div class="b-spare__price">от 82 000 <span class="rub">a</span></div>
                            <a class="b-spare__in" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="b-spare">
                        <img class="b-spare__img" src="images/content/spare-6.jpg" alt="Компрессор Carrier"/>
                        <div class="b-spare__content">
                            <a class="b-spare__title" href="#">Компрессор Carrier</a>
                            <div class="b-spare__sku">Part № 74-00254-00</div>
                            <div class="b-spare__price">от 82 000 <span class="rub">a</span></div>
                            <a class="b-spare__in" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <div class="b-spare">
                        <img class="b-spare__img" src="images/content/spare.jpg" alt="Компрессор Carrier"/>
                        <div class="b-spare__content">
                            <a class="b-spare__title" href="#">Компрессор Carrier</a>
                            <div class="b-spare__sku">Part № 74-00254-00</div>
                            <div class="b-spare__price">от 82 000 <span class="rub">a</span></div>
                            <a class="b-spare__in" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="b-spare">
                        <img class="b-spare__img" src="images/content/spare-7.jpg" alt="Компрессор Carrier"/>
                        <div class="b-spare__content">
                            <a class="b-spare__title" href="#">Компрессор Carrier</a>
                            <div class="b-spare__sku">Part № 74-00254-00</div>
                            <div class="b-spare__price">от 82 000 <span class="rub">a</span></div>
                            <a class="b-spare__in" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <div class="b-spare">
                        <img class="b-spare__img" src="images/content/spare-8.jpg" alt="Компрессор Carrier"/>
                        <div class="b-spare__content">
                            <a class="b-spare__title" href="#">Компрессор Carrier</a>
                            <div class="b-spare__sku">Part № 74-00254-00</div>
                            <div class="b-spare__price">от 82 000 <span class="rub">a</span></div>
                            <a class="b-spare__in" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="b-spare">
                        <img class="b-spare__img" src="images/content/spare-9.jpg" alt="Компрессор Carrier"/>
                        <div class="b-spare__content">
                            <a class="b-spare__title" href="#">Компрессор Carrier</a>
                            <div class="b-spare__sku">Part № 74-00254-00</div>
                            <div class="b-spare__price">от 82 000 <span class="rub">a</span></div>
                            <a class="b-spare__in" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @@include('blocks/_b-csidebar.html')
    </div>
</div>
@@include('blocks/_b-footer.html')