@@include('blocks/_b-header.html')
<div class="pr-content">
    <div class="container">
        <div class="pr-content__header">
            <h1 class="pr-dectitle">Вакансии</h1>
        </div>
        <div class="pr-content__content">
            <div class="b-text">
                <p>Мы ценим в своих сотрудниках стремление к достижению результата, готовность работать в команде и брать на себя ответственность.</p>
                <p>Об открытых вакансиях узнавайте, пожалуйста, по телефону отдела кадров</p>
                <div class="b-vacancy__contacts">
                    <p class="tel">+7 (812) 961-53-57</p>
                    <p class="email">Вы можете направить нам резюме по электронное почте e-mail: <a href="mailto:info@refcont.ru">info@refcont.ru</a></p>
                </div>
                <div class="b-spoiler">
                    <div class="b-spoiler__header">Водитель Погрузчика (Санкт Петербург)</div>
                    <div class="b-spoiler__content">
                        <p>Предлагаем вашему вниманию уникальные остатки от рефрижераторных контейнеров в виде тоннеля.</p>
                        <p>Предлагаем вашему вниманию уникальные остатки от рефрижераторных контейнеров в виде тоннеля.</p>
                        <p>Предлагаем вашему вниманию уникальные остатки от рефрижераторных контейнеров в виде тоннеля.</p>
                    </div>
                </div>
                <div class="b-spoiler">
                    <div class="b-spoiler__header">Водитель Погрузчика (Санкт Петербург)</div>
                    <div class="b-spoiler__content">
                        <p>Предлагаем вашему вниманию уникальные остатки от рефрижераторных контейнеров в виде тоннеля.</p>
                        <p>Предлагаем вашему вниманию уникальные остатки от рефрижераторных контейнеров в виде тоннеля.</p>
                        <p>Предлагаем вашему вниманию уникальные остатки от рефрижераторных контейнеров в виде тоннеля.</p>
                    </div>
                </div>
            </div>
        </div>
        @@include('blocks/_b-csidebar.html')
    </div>
</div>
@@include('blocks/_b-footer.html')