.b-containers{
    position: relative;
    padding:em(30) 0 em(35);
    overflow: hidden;
    &:after{
        content:"";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAUUlEQVR42mJgQAVMUIwCmNEUiAIxNxB/B+L/6Io4gFgYKvkHiAWgNAgzMAKxIBCzAfF7IP4F1cQGFQfxPzFCdX1ENh4KQHL8QMzFQARgBwgwADWhDF8QItr/AAAAAElFTkSuQmCC);
        -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), color-stop(0.25, rgba(0,0,0,1)), color-stop(0.75, rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }
    &__catalog{
        overflow: hidden;
        &.ie{
            .next, .prev{
                background-color: #fff;
                box-shadow:0 0 10px #fff;
            }
        }
    }
    &__content{
        float: left;
        width: 260px;
        padding-right: 10px;
        min-height: 1px;
    }
    &__catalog {
        overflow: hidden;
        position: relative;
        .viewport{
            width: 100%;
            overflow: hidden;
            -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), color-stop(0.25, rgba(0,0,0,1)), color-stop(0.75, rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        }
        .slides {
            position: relative;
            overflow: hidden;
            li {
                width: 100px;
                float: left;
                display: none;
                margin:0 5px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .next, .prev{
            position: absolute;
            width: 14px;
            height: 23px;
            background:url(../images/sprite.png) no-repeat -346px 0;
            display: block;
            border: 0;
            top: 50%;
            left: 0;
            margin-top: -12px;
            cursor: pointer;
        }
        .next{
            left: auto;
            right: 0;
            background-position: -362px 0;
        }
    }
    &__more{
        a{
            $font-size: 14;
            font-size: em($font-size);
            color: #0094e8;
        }
    }
    &__title{
        $font-size: 16;
        font-size: em($font-size);
        font-weight: 300;
        color: rgba(0, 0, 0, .8);
        letter-spacing: -0.5px;
        .cat{
            font-size: em(22, $font-size);
            font-weight: 700;
            display: block;
        }
    }
    &__popup{
        #cboxPrevious, #cboxNext{
            width: 30px;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background-color: transparent;
            border: 0;
            height: 100%;
            background-color: #fff;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) repeat-y;
            background-size: 100% 100%;
            opacity: 0.2;
            transition: opacity 0.3s ease;
            z-index:20;
            &:hover{
                opacity: 1;
            }
            &:before{
                content:"";
                display: block;
                width: 14px;
                height: 23px;
                background:url(../images/sprite.png) no-repeat -348px 0;
                position: absolute;
                left: 2px;
                top: 50%;
                margin-top: -12px;
            }
        }
        #cboxNext{
            left: auto;
            right: 0;
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            &:before{
                background-position: -362px 0;
                left: auto;
                right: 2px;
            }
        }
        #cboxLoadedContent{
            position: relative;
        }
        #cboxCurrent{
            display: none!important;
        }
        #cboxTitle{
            background-color: rgba(0, 0, 0, .5);
            $font-size: 15;
            font-size: em($font-size);
            padding: em(10, $font-size)  em(30, $font-size);
            z-index: 10;
            color: #fff;
            text-align: left;
            box-sizing: border-box;
            bottom: 0;
            &:empty{
                display: none!important;
            }
        }
    }
}
