.b-catalog{
    &__item{
        padding: 15px 16px 20px 10px;
        p{
            color: #939393;
            font-size: em(16);
            strong{
                font-weight: 700;
                color: #000;
            }
        }
    }
    &__itemhead{
        position: relative;
        img{
            display: block;
            width: 100%;
            border-radius:6px;
        }
        .label{
            width: 71px;
            height: 71px;
            background: url(../images/sprite.png) no-repeat -149px 0;
            position: absolute;
            top: -15px;
            right: -16px;
            text-align: center;
            font-size: em(23);
            font-weight: 700;
            line-height: 65px;
            color: #fff;
            &_new{
                background-position: -219px 0;
                font-size: em(19);
                line-height: 71px;
            }
        }
        .price{
            background-color: #6cbf00;
            position: absolute;
            left: -10px;
            bottom: 22px;
            border-radius: 0 8px 8px 8px;
            $font-size: 17;
            letter-spacing: -0.8px;
            font-size: em($font-size);
            color: #ffffff;
            padding: 0 em(21, $font-size) 0 em(14, $font-size);
            &:before{
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: -10px;
                border-bottom:10px solid #5aa000;
                border-left:10px solid transparent;
            }
        }
        margin-bottom: em(19);
    }
    &__itemt{
        $font-size: 18;
        letter-spacing: -0.5px;
        font-size: em($font-size);
        font-weight: 500;
        text-decoration: underline;
        display: block;
        color: inherit;
    }
    &__itemmore{
        padding-top: em(15);
    }
}