.b-header{
    &__content{
        position: relative;
        height: 120px; //logo height
        padding-left: 166px; //logo width
        border-radius:0 0 8px 8px;
        overflow: hidden;
        &:after{
            content:"";
            display: block;
            height: 5px;
            width: 100%;
            background:#f3f6f9;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 20;
        }
    }
    &__logo{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    &__nav{
        height: 56px;
        background:#fff;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        box-sizing: border-box;
        padding-left: 185px;
        border-radius: 8px;
        .item{
            display: inline-block;
            padding-top: em(10);
            > a{
                display: block;
                letter-spacing: 0.2px;
                $font-size: 17;
                font-size: em($font-size);
                color: #000;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $secondary__font;
                padding: em(5, $font-size) em(11, $font-size);
                border-radius: 9px;
                &:hover{
                    background-color: #f4f4f4;
                }
            }
            &.current > a{
                background-color: #f4f4f4;
            }
        }
    }
    &__top{
        line-height: 1;
        padding:28px 0 0 26px;

    }
    &__topi{
        display: inline-block;
        vertical-align: middle;
    }
    &__social{
        font-size: em(16, $base__font-size);
        color: #000000;
        font-weight: 300;
        letter-spacing: -0.7px;
        width: 29.8%;
        .link{
            width: 16px;
            vertical-align: middle;
            height: 16px;
            background:url(../images/sprite.png) no-repeat 0 0;
            display: inline-block;
            margin: 0 4px;
            &.vk{
                background-position: -25px 0;
            }
            &.twitter{
                background-position: -50px 0;
            }
            &:first-child{
                margin-left: 9px;
            }
        }
    }
    &__email{
        font-size: em(16);
        color: #000000;
        letter-spacing: -0.6px;
        padding-left: 26px;
        position: relative;
        width: 15.9%;
        &:before{
            content:"";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            background:url(../images/sprite.png) no-repeat -88px 0;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    &__tel{
        $font-size: 16;
        font-size: em($font-size);
        color: #4d5964;
        padding-left: 22px;
        position: relative;
        letter-spacing: -0.8px;
        &:before{
            content:"";
            display: block;
            position: absolute;
            top: 2px;
            left: 0;
            width: 16px;
            height: 16px;
            background:url(../images/sprite.png) no-repeat -72px 0;
        }
        .tel{
            font-size: em(18, $font-size);
            color: #000;
            display: inline-block;
            padding-right: 15px;
        }
    }
}